<div id="menu">
<div id="menu_tbg">
<div id="menu_bbg">
      <dl>
	   <dt id="t4"><a href="#">社区</a></dt>
      <dd><a href="#">博客 </a>  <a href="#">群组</a>  <a href="#">圈子</a></dd>
	  <dd><a href="#">告白 </a>  <a href="#">发泄桶 </a>  <a href="#">许愿板</a></dd>
       <dt id="t1"><a href="#">导购</a></dt>
      <dd><a href="#">婚庆服务 </a> <a href="#">家居装修</a></dd>
      <dt id="t2"><a href="#">信息</a></dt>
      <dd><a href="#">便民服务 </a>  <a href="#">二手信息</a></dd>
	  <dd><a href="#">工作</a>  <a href="#">房源</a> <a href="#">供求</a></dd>
	  <dd><a href="#">婚嫁</a>  <a href="#">生活</a> <a href="#">交友</a></dd>
      <dt id="t5"><a href="#">知道</a></dt>
	  <dd><a href="#">生活 </a>  <a href="#">工作 </a> </dd>
	   <dd><a href="#">情感 </a> <a href="#">八卦</a> <a href="#">教育</a></dd>
	  <dt id="t3"><a href="#">企业</a></dt>
      <dd><a href="#">企业建站 </a>  <a href="#">企业黄页</a></dd>
	  <dd><a href="#">供求信息 </a>  <a href="#">最新加盟</a></dd>
	  <dd><a href="#">咨询管理 </a>  <a href="#">企业招聘</a></dd>  
	   <dt id="t3"><a href="#">点评</a></dt>
      <dd><a href="#">全部 </a>  <a href="#">餐饮美食</a></dd>
	  <dd><a href="#">娱乐休闲 </a>  <a href="#">生活服务</a></dd>
      </dl>
    </div>
  </div>
</div>
